@page "/page/dashboard"

@inject IDashBoardService _dashboardServicio;
@using ChartJs.Blazor.BarChart.Axes;
@using ChartJs.Blazor.Common;
@using ChartJs.Blazor.Common.Axes;
@using ChartJs.Blazor.Common.Axes.Ticks;
@using ChartJs.Blazor.BarChart;
@using ChartJs.Blazor.Util;
@using Microsoft.AspNetCore.Authorization;

@attribute [Authorize(Roles = "1")];

<link href="css/dashboard.css" rel="stylesheet">

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-5">
    <MudText Typo="Typo.h5" GutterBottom="true">DashBoard</MudText>

    <MudPaper Elevation="3" Class="pa-4" Width="100%">

        <MudGrid>
            <MudText Typo="Typo.h6" Class="mb-3">Estadísticas de Socios:</MudText>
            <MudDivider />
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card-box bg-blue">
                            <div class="inner">
                                            <h3> @dashboard.TotalSocios </h3>
                                            <p> Socios Registrados </p>
                            </div>
                            <div class="icon">
                                            <i class="fa fa-users" aria-hidden="true"></i>
                            </div>
                            <a href="/page/socio" class="card-box-footer">Ver Más <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="card-box bg-green">
                            <div class="inner">
                                            <h3> @dashboard.TotalSociosActivos </h3>
                                <p> Socios activos </p>
                            </div>
                            <div class="icon">
                                            <i class="fa fa-recycle" aria-hidden="true"></i>
                            </div>
                                        <a href="/page/socio" class="card-box-footer">Ver Más <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card-box bg-orange">
                            <div class="inner">
                                            <h3> @dashboard.NuevosSocios </h3>
                                            <p> Nuevos Socios en el Último Mes </p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                            </div>
                                        <a href="/page/socio" class="card-box-footer">Ver Más <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card-box bg-red">
                            <div class="inner">
                                            <h3> @dashboard.PagosPendientes </h3>
                                            <p> Pagos Pendientes </p>
                            </div>
                            <div class="icon">
                                            <i class="fa fa-exclamation-triangle"></i>
                            </div>
                                        <a href="/page/pagomensual" class="card-box-footer">Ver Más <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <MudText Typo="Typo.h6" Class="mt-3 mb-3">Estadísticas por Ventas:</MudText>
            <MudDivider />
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card-box bg-dark">
                            <div class="inner">
                                <h3>$ @dashboard.TotalIngresos </h3>
                                <p> Total de Ingresos Mensual </p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-money" aria-hidden="true"></i>
                            </div>
                            <a href="/page/historialventa" class="card-box-footer">Ver Más <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="card-box bg-green">
                            <div class="inner">
                                <h3> @dashboard.TotalVentas </h3>
                                <p> Total de Ventas Mensual </p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            </div>
                            <a href="/page/venta" class="card-box-footer">Ver Más <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card-box bg-orange">
                            <div class="inner">
                                <h3> @dashboard.TotalProductos </h3>
                                <p> Total de Productos </p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-cubes" aria-hidden="true"></i>
                            </div>
                            <a href="/page/producto" class="card-box-footer">Ver Más <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <MudText Typo="Typo.h6" Class="mt-3 mb-3">Graficas de Ventas:</MudText>
            <MudDivider />
            <MudItem xs="12" sm="12" md="12">
                <MudPaper Elevation="25" Style="height:310px;">

                    <Chart Config="barconfig" @ref="_chart"></Chart>

                </MudPaper>
            </MudItem>

        </MudGrid>
    </MudPaper>
</MudContainer>

@code {
    DashBoardDTO dashboard = new DashBoardDTO();

    private BarConfig barconfig;
    private Chart _chart = null!;

    //private PieConfig _config;

    protected override async Task OnInitializedAsync()
    {

        barconfig = new BarConfig
         {
            Options = new BarOptions
            {
               
                MaintainAspectRatio = false,
                Responsive = true,
                Title = new OptionsTitle
                {
                    Display = true
                },
                Scales = new BarScales
                 {
                    YAxes = new List<CartesianAxis>
                    {
                        new BarLinearCartesianAxis
                        {
                            Stacked = true,
                            MinBarLength = 0
                        }
                    }
                 }
            }
         };

        foreach (string lb in new[] { "temp" })
            barconfig.Data.Labels.Add(lb);

        IDataset<int> dataSet = new BarDataset<int>(new[] { 1 })
            {
                BackgroundColor = ColorUtil.ColorHexString(54, 162, 235),
                BorderColor = ColorUtil.ColorHexString(54, 162, 235),
                BorderWidth = 1
            };

        barconfig.Data.Datasets.Add(dataSet);


        var response = await _dashboardServicio.Resumen();
        if (response.status)
        {
            dashboard = (DashBoardDTO)response.value!;
            var labels = dashboard.VentasUltimaSemana.Select(v => v.Fecha).ToArray();
            var values = dashboard.VentasUltimaSemana.Select(v => v.Total).ToArray();
            ConfigureChart(labels, values);
        }

    }

    private void ConfigureChart(string[] labels,int[] values)
    {
        barconfig.Data.Labels.Clear();

        barconfig.Data.Datasets.Clear();

        foreach(string lb in labels)
            barconfig.Data.Labels.Add(lb);

        IDataset<int> dataSet = new BarDataset<int>(values)
        {
                Label = "Numero de ventas por día",
                BackgroundColor = ColorUtil.ColorHexString(54, 162, 235),
                BorderColor = ColorUtil.ColorHexString(54, 162, 235),
                BorderWidth = 1
        };
        barconfig.Data.Datasets.Add(dataSet);

        _chart.Update();
    }
}
